@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

body {
  /* font-family: '-apple-system, BlinkMacSystemFont, ' Segoe UI', ' Roboto', ' Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Color Configuration for Light Mode */
  --background-color: white;
  --forground-color: black;
  /* Theme Color Configuration */
  --theme-color: #8c0000;
  --theme-color-secondary: #36557c;
  /* Assist Color Configuration */
  --assist-color: gray;
  /* Text Color Configuration */
  --text-color-light: white;
  --text-color-dark: black;
  --text-color-theme: #8c0000;
}

/* dark theme not stable right now */
@media (prefers-color-scheme: dark) {
  :root {
    /* Color Configuration for Dark Mode */
    --background-color: black;
    --forground-color: white;
    /* Theme Color Configuration */
    --theme-color: #cc0000;
    --theme-color-secondary: #4874aa;
    /* Assist Color Configuration */
    --assist-color: gray;
    /* Text Color Configuration */
    --text-color-dark: black;
    --text-color-light: white;
    --text-color-theme: #cc0000;
  }
}